<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - Resturant Management System</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <environment include="Development">
        <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Assets/css/all.css">
        <link rel="stylesheet" href="~/Assets/css/style.css">
        <link rel="stylesheet" href="~/SweetAlert/sweetalert2.min.css">
        <link rel="stylesheet" href="~/css/alertify.min.js">
        <link rel="stylesheet" href="~/js/alertify.js">

    </environment>
    @RenderSection("Styles", false)
</head>
@using Microsoft.AspNetCore.Http
@using RestaurantManagementSystem.Helper
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg" style="height: 73px;background-color:#ff9f1a"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg">
                                <i class="fas fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="dropdown">

                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <img alt="image" src="~/Assets/img/avatar-1.png" class="rounded-circle mr-1">
                                <div class="d-sm-none d-lg-inline-block">Hi,@User.Identity.Name</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-title">Logged in 5 min ago</div>
                                <a href="features-profile.html" class="dropdown-item has-icon">
                                    <i class="far fa-user"></i> Profile
                                </a>
                                <a href="features-activities.html" class="dropdown-item has-icon">
                                    <i class="fas fa-bolt"></i> Activities
                                </a>
                                <a href="features-settings.html" class="dropdown-item has-icon">
                                    <i class="fas fa-cog"></i> Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit"  class="dropdown-item has-icon text-danger" >
                                        <i class="fas fa-sign-out-alt" style="padding-top:10px"></i> Logout
                                    </button>
                                </form>
                            </div>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            
                                <a asp-area="" asp-controller="Home" asp-action="Login" class="nav-link text-light" style="border:none;background-color: #f9a602;">Login <i class="fas fa-sign-out-alt" aria-hidden="true"></i></a>

                           
                        </li>
                    }
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="#">RMS Admin</a>
                    </div>

                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="#">RMS</a>
                    </div>
                    <ul class="sidebar-menu">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="menu-header">Dashboard</li>
                            <li class="nav-item dropdown active">
                                <a href="#" class="nav-link has-dropdown">
                                    <i class="fas fa-fire"></i><span>Dashboard</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Home"
                                           asp-action="Index">Customer View</a>
                                    </li>
                                </ul>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="menu-header">Admin Activities</li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown">
                                        <i class="fas fa-utensils"></i> <span>Manage Menu</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                               asp-action="SetMealHour">Set Meal Hour</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                               asp-action="MealHourInfo">Meal Hour Info</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                               asp-action="AddFoodItem">Add Food Item</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                               asp-action="FoodItemList">Food Item List</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
                                        <i class="fas fa-columns"></i> <span>Manage Food</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>


                                            <a class="nav-link" asp-controller="Home" asp-area="Admin"
                                               asp-action="AddIngredient">Add Raw Ingredient</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-controller="Home" asp-area="Admin"
                                               asp-action="IngredientList">List of Raw Ingredient</a>

                                            <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                               asp-action="SetFoodRecipe">Set Food Recipe</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                               asp-action="FoodRecipeDetails">Food Recipe Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
                                        <i class="fas fa-columns"></i> <span>Manage Table</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-controller="Home" asp-area="Admin"
                                               asp-action="AddNewTable">Set New Table</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-controller="Home" asp-area="Admin"
                                               asp-action="TableList">See Table Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown">
                                        <i class="fas fa-th"></i> <span>Sales Records</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-action="TotalSells" asp-controller="Home">Monitor Sales</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-action="Index" asp-controller="Home">Sales Graph</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown">
                                        <i class="fas fa-th"></i> <span>Manager Offers</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                               asp-action="AddNewOffer">Add New Offer</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                               asp-action="OfferDetails">See Offer Details</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("StockManager"))
                            {
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown">
                                        <i class="fas fa-th"></i> <span>Manager Stock</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-area="Stockmanager" asp-controller="Home"
                                               asp-action="AddStock">Insert in Stock</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="Stockmanager" asp-controller="Home"
                                               asp-action="StockDetails">Stock Details</a>
                                        </li>

                                    </ul>

                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown">
                                        <i class="fas fa-th"></i> <span>Stock Status </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-area="Stockmanager" asp-controller="Home"
                                               asp-action="Index">Stock Status Graph </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="Stockmanager" asp-controller="Home"
                                               asp-action="StockStatus">Stock Status </a>
                                        </li>


                                    </ul>

                                </li>


                            }
                            @if (User.IsInRole("Manager"))
                            {
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown">
                                        <i class="fas fa-th"></i> <span>Order Details</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-area="Manager" asp-controller="Home"
                                               asp-action="OrderDetails">
                                                Order Details
                                            </a>
                                        </li>


                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown">
                                        <i class="fas fa-th"></i> <span>Sells Record</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-area="Manager" asp-controller="Home"
                                             asp-action="Index">Sells Graph</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link has-dropdown">
                                        <i class="fas fa-th"></i> <span>Todays Sells</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="nav-link" asp-area="Manager" asp-controller="Home"
                                               asp-action="Sells"> Sell Records</a>
                                        </li>


                                    </ul>
                                </li>
                            }
                        }


                    </ul>
                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="" class="btn btn-primary btn-lg btn-block btn-icon-split">
                            <i class="fas fa-calendar" aria-hidden="true"></i> Date : @DateTime.Now.ToShortDateString()
                        </a>
                    </div>
                </aside>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">


                    @RenderBody()


                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-right">
                    Copyright &copy; 2020
                    <div class="bullet"></div> Developed By Team Dawn
                </div>

            </footer>
        </div>
    </div>

    <!-- General JS Scripts -->


    <environment include="Development">
        <script src="~/Assets/AJAX/ajaxjQueryjquery1.11.3.min.js"></script>
        <script src="~/Assets/AJAX/ajaxjqueryvalidate1.14.0jquery.validate.min.js"></script>
        <script src="~/Assets/AJAX/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/Assets/js/jQuery.min.js"></script>
       
        <script src="~/Assets/js/popper.min.js"></script>
        <script src="~/Assets/js/bootstrap.min.js"></script>
        <script src="~/Assets/js/NiceScroll.min.js"></script>
        <script src="~/Assets/js/scripts.js"></script>
        <script type="text/javascript" src="~/SweetAlert/sweetalert2.all.min.js"></script>
        <script type="text/javascript" src="~/ChartJs/ChartJs.js"></script>
        <script type="text/javascript" src="~/js/html2pdf.bundle.js"></script>


    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>