@model List<RestaurantManagementSystem.Areas.Admin.ViewModels.FoodItemVm>
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Http
@using RestaurantManagementSystem.Helper
@using RestaurantManagementSystem.Areas.Admin.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Resturant Management System</title>

    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>*@
    <environment include="Development">
        <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Assets/css/all.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<body>
    @{var ss = 0; }
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow p-3 mb-3"
             style="background-color:#f9a602">
            <div class="container">
                <a class="navbar-brand text-light" asp-area=""
                   asp-controller="Home" asp-action="Index"><strong>DAWN</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link light" asp-area="" asp-controller="Home" asp-action="Cart">
                                <i class="fas fa-cart-plus"></i>
                                @{var a = Context.Session.Get<List<FoodItem>>("FoodS");}
                                @if (a != null)
                                {
                                    <span id="CartValue">
                                        @a.Count
                                        @{ss = a.Count;}
                                    </span>

                                }
                                else
                                {
                                    <span id="CartValue">
                                        0
                                    </span>
                                }


                            </a>





                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                           
                            <li class="nav-item">
                                <form class="nav-link text-light" method="post" asp-controller="Home" asp-action="Logout">
                                    <input style="border:none;background-color: #f9a602;" type="submit" value="Logout" /><i class="fas fa-sign-out-alt" aria-hidden="true"></i>

                                </form>
                            </li>
 
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="CreateAccount">Sign up</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="frontpage" class="container-fluid">
        <div style="position:absolute;top:20%;font-style:italic;font-family:monospace;left:5%;background-attachment:fixed;">
            <h1><strong>Lorem ipsum dolor</strong></h1>
            <hr />
            <p>Some quick example text to build on the card title</p>
            <button class="btn btn-dark">Reserve Table Now</button>
        </div>
    </div>
    <div class="container-fluid" id="menupage">
        <h1><strong>Our Food Menu</strong></h1>
        <div class="row d-flex justify-content-center" id="sn">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <div class="box-shadow m-1 bg-light">
                        <img src="~/images/breakfast (1).svg" class="card-img-top img-fluid p-1"
                             style="max-height: 100px; max-width: 100px;">
                        <div class="card-body">
                            <h3>@item.FoodName</h3>
                            <hr />
                            <p>
                                For @item.MealHourName
                                <br />
                                Shareable by @item.Description
                                <br />
                                Price: @item.Price BDT
                            </p>
                        </div>
                        <div class="card-footer" id="cardFotter">
                            <button type="button" class="btn btn-dark button" value="@item.FoodItemId" data-toggle="modal" data-target="#exampleModalCenter">
                                Order Now
                            </button>
                            @*<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                                    Order Now
                                </button>
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center" id="exampleModalLongTitle">
                                                    You must login before plac
                                                      ing an order!
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="col-8 offset-2">
                                                    <h2>Login Now</h2>
                                                    <hr />
                                                    <div class="form-group">
                                                        <label>Enter UserId</label>
                                                        <input placeholder="UserId" class="form-control" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Enter Password</label>
                                                        <input placeholder="Password" type="password" class="form-control" />
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark">Login</button>
                                                <span>
                                                    <a asp-controller="Home"asp-action="CreateAccount">Create Account</a>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>*@



                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $('.card-footer button').click(function () {
            var FoodId = $(this).val();
            var url = "/Home/SetCartValue";
            $.getJSON(url, { id: FoodId }, function (data) {
                var a = data;

                $("#CartValue").html(a);
            });



        });



    </script>



</body>
</html>